*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}
#interface{

}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: linear-gradient( black, blue
    );
}
 
#simbolo img{
  width: 100%;
  height: auto;

    } /*aplique width de 100% sobre a imagem e não na div*/


.pro{
   
}



